<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHTTPEP" />
            </basicHttpBinding>
            <customBinding>
                <binding name="customEP">
                    <reliableSession />
                    <security defaultAlgorithmSuite="Default" authenticationMode="SspiNegotiated"
                        requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSignatureConfirmation="false">
                        <localClientSettings detectReplays="true" />
                        <localServiceSettings detectReplays="true" />
                    </security>
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="netTCPBidingEP">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/TheFirstsWCFService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="basicHTTPEP"
                contract="MySimpleService.IService1" name="basicHTTPEP" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/TheFirstsWCFService/Service1/custom"
                binding="customBinding" bindingConfiguration="customEP" contract="MySimpleService.IService1"
                name="customEP">
                <identity>
                    <userPrincipalName value="BLACKBIRD\chris" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8987/FirstService/nettcp"
                binding="netTcpBinding" bindingConfiguration="netTCPBidingEP"
                contract="MySimpleService.IService1" name="netTCPBidingEP">
                <identity>
                    <userPrincipalName value="BLACKBIRD\chris" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>